<%- include("partials/header.ejs") %>
    <nav>
        <h1>Book Notes</h1>
        <div id="login-panel">
            <form id="login" class="login-form" action="/login" method="post">
                <input type="submit" value="Login" id="login-btn" class="button">
            </form>
            <form id="register" class="login-form" action="/register" method="post">
                <input type="submit" value="Register" id="register-btn" class="button">
            </div>
        </form>
    </nav>
    <div id="user-book-panel" class="private-rated-books-list">
        <h2>Your Rated Books</h2>
        <div id="user-book-btn-panel" class="button-panel">
            <form action="/rateBook" method="post">
                <button type="submit" class="button-primary">Rate Book</button>
            </form>
            <form action="/newBook" method="post">
                <button type="submit" class="button-secondary">Add New Book</button>
            </form>
        </div>
    </div>
    <div class="public-books-panel">
        <h2>Highest rated books</h2>
        <div id="public-books-list" class="books-list">
            <% locals?.books.forEach((book) => { %>
            <div id="<%= book.id %>" class="book-card">
                <h3><%= book.title %></h3>
                <p><%= book.author %></p>
                <p>Rating: <%= book.avg_rating %></p>
            </div>
            <% }); %>
        </div>
    </div>

    <script>
        // Holding the isLoggedIn variable so index.js can use it
        window.backendData = {
            isLoggedIn: <%- locals.isLoggedIn %>,
            username: '<%- locals.username %>'
        };
    </script>
<%- include("partials/footer.ejs") %>