<%- include("partials/header.ejs") %>
    <nav>
        <h1>Book Notes</h1>
        <div id="login-panel">
            <% if (locals.isLoggedIn && locals.currrentUser) { %>
                <p>Welcome <%= locals.currrentUser %></p>
                <form id="login" action="/logout" method="post">
                    <input type="submit" value="Logut" id="logout-btn" class="button">
                </form>
            <% } else { %>
                <form id="login" class="login-form" action="/login" method="get">
                    <input type="submit" value="Login" id="login-btn" class="button">
                </form>
                <form id="register" class="login-form" action="/register" method="get">
                    <input type="submit" value="Register" id="register-btn" class="button">
                </form>
            <% } %>
             
        </div>
    </nav>
    <div id="user-book-panel">
        <% if (locals.isLoggedIn) { %>
            <% if (locals.userUnverifiedBooks.length > 0) { %>
                <h2>Your Added Books awaiting verification</h2>
                <div id="user-unverified-books-list" class="books-list">
                    <% locals.userUnverifiedBooks.forEach((book) => { %>
                        <div id="user-unverified-book-<%= book.id %>" class="book-card">
                            <h3><%= book.title %></h3>
                            <p><%= book.author %></p>
                            <p>Awaiting verification</p>
                        </div>
                    <% }); %>
                </div>
            <% } %>
            <h2>Your Rated Books</h2>
            <div id="user-book-btn-panel" class="button-panel">
                <form action="/rateBook" method="get">
                    <button type="submit" class="button-primary">Rate Book</button>
                </form>
                <form action="/newBook" method="get">
                    <button type="submit" class="button-secondary">Add New Book</button>
                </form>
            </div>
                <% if (locals.userRatedBooks.length > 0) { %>
                    <div class="books-list">
                    <% locals.userRatedBooks.forEach((ratedBook) => { %>
                        <div id="user-rated-book-<%= ratedBook.id %>" class="book-card">
                            <h3><%= ratedBook.title %></h3>
                            <p><%= ratedBook.author %></p>
                            <p>
                                Your Rating: <%= ratedBook.rating %><br>
                                Your Notes: <%= ratedBook.notes %><br>
                                Last modified: <%= ratedBook.date_modified %><br>
                            </p>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>You haven't rated any book yet.</p>
                <% } %>
            </div>
        <% } else { %>
            <p id="guest-user-msg">
                To rate books please <a href="/login">login</a> or
                <a href="/register">register</a>.
            </p>
        <% } %>
    </div>
    <div class="public-books-panel">
        <h2>Highest rated books</h2>
        <div id="highest-rated-books-list" class="books-list">
            <% locals?.highestRatedBooks.forEach((book) => { %>
            <div id="highest-rated-book-<%= book.id %>" class="book-card">
                <h3><%= book.title %></h3>
                <p><%= book.author %></p>
                <p>Rating: <%= book.avg_rating %></p>
            </div>
            <% }); %>
        </div>
        <h2>Most commonly rated books</h2>
        <div id="most-rated-books-list" class="books-list">
            <% locals?.mostRatedBooks.forEach((book) => { %>
            <div id="common-rated-book-<%= book.id %>" class="book-card">
                <h3><%= book.title %></h3>
                <p><%= book.author %></p>
                <p>Times rated: <%= book.times_rated %></p>
            </div>
            <% }); %>
        </div>
    </div>

    <script>
        // Holding the isLoggedIn variable so index.js can use it
        window.backendData = {
            isLoggedIn: <%- locals.isLoggedIn %>,
            username: '<%- locals.username %>'
        };
    </script>
<%- include("partials/footer.ejs") %>